<!-- game will be here-->
<!-- game div, game controls div, game instructions div, -->

<div class='container'>
  <!-- below for game to be running in -->
  <object id="UnityObject"
              classid="clsid:444785F1-DE89-4295-863A-D46C3A781394"
              width="800"
              height="450"
              codebase="http://webplayer.unity3d.com/download_webplayer/UnityWebPlayer.cab#version=2,0,0,0">
         <param name="Builds.unity3d"
                value="Builds.unity3d" />
             <embed id="UnityEmbed"
                    src="Unity_files/Builds.unity3d"
                    width="600"
                    height="450"
                    type="application/vnd.unity"
                    pluginspage="http://www.unity3d.com/unity-web-player-2.x" />
    </object>
  <div class="panel panel-primary">
  </div>
<!-- below for game controls inside a panel-->
  <div class="panel panel-info"> <!-- green panel title-->
  <div class="panel panel-default"> <!-- panel for controls-->
    <div class="panel-heading">
      <h3 class="panel-title">Game Controls</h3>
    </div>
    <div class="panel-body">

      <ul class="list-group">
      <li class="list-group-item">
        <span class="badge">Space Bar</span>
        JUMP
      </li>
      <li class="list-group-item">
    <span class="badge">z</span>
      SHOOT
    </li>
    <li class="list-group-item">
    <span class="badge">Left Arrow Key / Right Arrow Key</span>
    Move Left / Move Right
    </li>
    <li class="list-group-item">
    <span class="badge">Enter Key</span>
  PAUSE THE GAME
   </li>
    </ul>
  </div>
 </div>
</div>

<!-- below will be the instructions for the game -->
  <div class="panel panel-info"><!-- green panel title-->
    <div class="panel panel-default"> <!-- panel for controls-->
      <div class="panel-heading">
        <h3 class="panel-title">Game Instructions</h3>
      </div>
      <div class="panel-body">
     <!-- add game instructions here -->
     <p>It's a Survival Game! Stay alive!</p>
    </div>
   </div>
  </div>


</div>
