<!-- game will be here-->
<!-- game div, game controls div, game instructions div, -->

<div class='container'>
  <!-- below for game to be running in -->

  <div class="panel panel-primary">
  </div>
<!-- below for game controls inside a panel-->
  <div class="panel panel-info"> <!-- green panel title-->
  <div class="panel panel-default"> <!-- panel for controls-->
    <div class="panel-heading">
      <h3 class="panel-title">Game Controls</h3>
    </div>
    <div class="panel-body">

      <ul class="list-group">
      <li class="list-group-item">
        <span class="badge">Space Bar</span>
        JUMP
      </li>
      <li class="list-group-item">
    <span class="badge">z</span>
      SHOOT
    </li>
    <li class="list-group-item">
    <span class="badge">Left Arrow Key / Right Arrow Key</span>
    Move Left / Move Right
    </li>
    <li class="list-group-item">
    <span class="badge">Enter Key</span>
  PAUSE THE GAME
   </li>
    </ul>
  </div>
 </div>
</div>

<!-- below will be the instructions for the game -->
  <div class="panel panel-info"><!-- green panel title-->
    <div class="panel panel-default"> <!-- panel for controls-->
      <div class="panel-heading">
        <h3 class="panel-title">Game Instructions</h3>
      </div>
      <div class="panel-body">
     <!-- add game instructions here -->
    </div>
   </div>
  </div>


</div>
