<!-- game will be here-->
<!-- game div, game controls div, game instructions div, -->

<div class='container'>
  <!-- below for game to be running in -->
  
  <div class="panel panel-primary">
  </div>





<!-- below for game controls inside a panel-->
  <div class="panel panel-info"> <!-- green panel title-->
  <div class="panel panel-default"> <!-- panel for controls-->
    <div class="panel-heading">
      <h3 class="panel-title">Game Controls</h3>
    </div>
    <div class="panel-body">
   <!-- add game controls here -->
  </div>
 </div>
</div>


</div>
